.csubmit-button {
    font-size: medium;
    text-decoration: none;
    padding: 0.5rem;
    width: 10%;
    cursor: pointer;
    background-color: #ababab;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: bold;
    color: white;
    text-align: center;
}

.csubmit-button:hover {
    background-color: #939191;
    color: white;
}

.form-footer {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    margin-top: 2rem;
}